## Named Entity Recognition

1. finding what the text is telling about
2. finding whom the text is targetting..

In [1]:
import spacy
nlp = spacy.load("en_core_web_sm")

In [2]:
nlp.pipe_names

['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner']

In [27]:
text = "Tesla Inc is going to acquire twitter for $45 billion on July 24, 2023 in London"
doc = nlp(text)
for ent in doc.ents:
    print(ent, " | ", ent.label_, spacy.explain(ent.label_))

Tesla Inc  |  ORG Companies, agencies, institutions, etc.
$45 billion  |  MONEY Monetary values, including unit
July 24, 2023  |  DATE Absolute or relative dates or periods
London  |  GPE Countries, cities, states

In [28]:
# visually render the same thing.
from spacy import displacy
displacy.render(doc, style = "ent")

In [29]:
# Getting all the entities that spacy support
nlp.pipe_labels['ner']

['CARDINAL',
 'DATE',
 'EVENT',
 'FAC',
 'GPE',
 'LANGUAGE',
 'LAW',
 'LOC',
 'MONEY',
 'NORP',
 'ORDINAL',
 'ORG',
 'PERCENT',
 'PERSON',
 'PRODUCT',
 'QUANTITY',
 'TIME',
 'WORK_OF_ART']

### According to our domain, we can customize how the `ner` works

In [38]:
doc[0:1], doc[6:7]

(Tesla, twitter)

In [36]:
# sometimes the named entitiy recognition doesnot tag the token correctly or miss them.
# so we can use our own custom entity recognition methods to a word or span of word
from spacy.tokens import Span
s1 = Span(doc, 0, 1, label = "NGO")
s2 = Span(doc, 6, 7, label = "Puppet of Musk")
doc.set_ents([s1, s2], default = "unmodified") # keeping others same

In [37]:
for ent in doc.ents:
    print(ent.text, " | ", ent.label_)

Tesla  |  NGO
Inc  |  ORG
twitter  |  Puppet of Musk
$45 billion  |  MONEY
July 24, 2023  |  DATE
London  |  GPE

## similarly we can use resume parser using ner technique

# Exercises

## Excersie: 1
* Extract all the Geographical (cities, Countries, states) names from a given text

In [40]:
text = """Kiran want to know the famous foods in each state of India. So, he opened Google and search for this question. Google showed that
in Delhi it is Chaat, in Gujarat it is Dal Dhokli, in Tamilnadu it is Pongal, in Andhrapradesh it is Biryani, in Assam it is Papaya Khar,
in Bihar it is Litti Chowkha and so on for all other states"""

In [52]:
doc2 = nlp(text)
locations = []
for ent in doc2.ents:
    # print(ent.text, ent.label_)
    if ent.label_ == "GPE":
        locations.append(ent)
locations

[India, Delhi, Gujarat, Tamilnadu, Pongal, Andhrapradesh, Assam, Bihar]

## Excersie: 2
* Extract all the birth dates of cricketers in the given Text

In [56]:
text = """Sachin Tendulkar was born on 24 April 1973, Virat Kholi was born on 5 November 1988, Dhoni was born on 7 July 1981
and finally Ricky ponting was born on 19 December 1974."""

In [58]:
doc3 = nlp(text)
dates = []
for ent in doc3.ents:
    if ent.label_ == "DATE":
        dates.append(ent)
dates

[24 April 1973, 5 November 1988, 7 July 1981, 19 December 1974]