In [90]:
import numpy as np
import pandas as pd

to practice:-  https://regex101.com/

In [28]:
import re
chat1 = 'codebasics: you ask lot of questions 12345678912 aba@gmail.com'
chat2 = '(123)-434-4342, aba@gmail.com'
chat3 = 'yes, phone: 23231214435, email: a__g4@gmail.com'

In [29]:
re.findall('\d{11}', chat1) # all the 11 digits together.

['12345678912']

In [30]:
re.findall('[a-z0-9_]*@[a-z]*.[a-z]*', chat3) # mail id

['a__g4@gmail.com']

In [41]:
ronaldo = '''Personal information
Full name	Cristiano Ronaldo dos Santos Aveiro[1]
Date of birth 5 February 1985 (age 38)[1]
Place of birth	Funchal, Madeira, Portugal[1]
Height	1.87 m (6 ft 2 in)[note 1]
Position(s)	Forward
Team information
Current team	Al Nassr
Number	7'''

In [102]:
n = re.findall('name\t(.*)\[', ronaldo)
n

['Cristiano Ronaldo dos Santos Aveiro']

In [104]:
a = re.findall('Place of birth\t(.*)\[', ronaldo) # place of birth
a

['Funchal, Madeira, Portugal']

In [80]:
b = re.findall('Height\t([0-9].*)m', ronaldo) # getting the height in meter
b # (...) is the ouptut what we want after 'Height...'

['1.87 ']

In [97]:
birth = re.findall('birth(.*)\(', ronaldo)
birth

[' 5 February 1985 ']

In [100]:
age = re.findall('age(.*)\)', ronaldo)
age

[' 38']

In [115]:
# simple function to get all the data in a dictionary:
def get_personal_info(text):
    name = re.findall('name\t(.*)\[', text)
    birth_place = re.findall('Place of birth\t(.*)\[', text)
    Dob = re.findall('birth(.*)\(', text)
    age = re.findall('age(.*)\)', text)

# Returning the dictionary items:
    return {
        'name': name[0].strip(),
        'birth_place': birth_place[0].strip(),
        'Dob': Dob[0].strip(),
        'age': int(age[0].strip())
    }

In [116]:
get_personal_info(ronaldo)

{'name': 'Cristiano Ronaldo dos Santos Aveiro',
 'birth_place': 'Funchal, Madeira, Portugal',
 'Dob': '5 February 1985',
 'age': 38}

# Python Regular Expression Tutorial Exericse

### 1. Extract all twitter handles from following text. Twitter handle is the text that appears after https://twitter.com/ and is a single word. Also it contains only alpha numeric characters i.e. A-Z a-z , o to 9 and underscore```

In [117]:
text = '''
Follow our leader Elon musk on twitter here: https://twitter.com/elonmusk, more information 
on Tesla's products can be found at https://www.tesla.com/. Also here are leading influencers 
for tesla related news,
https://twitter.com/teslarati
https://twitter.com/dummy_tesla
https://twitter.com/dummy_2_tesla
'''

In [152]:
def find_handles(text):
    pattern1 = 'https:\/\/twitter.com\/(.*),|https:\/\/twitter.com\/(.*)'
    handles = re.findall(pattern1, text)
    return handles

In [155]:
handles = find_handles(text)
handles

[('elonmusk', ''),
 ('', 'teslarati'),
 ('', 'dummy_tesla'),
 ('', 'dummy_2_tesla')]

In [164]:
# getting the handle names from those list of tuples:
all_handles = []
for tup in handles:
    if tup[0] != '':
        all_handles.append(tup[0])
    if tup[1] != '':
        all_handles.append(tup[1])

In [165]:
all_handles

['elonmusk', 'teslarati', 'dummy_tesla', 'dummy_2_tesla']

### 2. Extract Concentration Risk Types. It will be a text that appears after "Concentration Risk:", In below example, your regex should extract these two strings```

(1) Credit Risk

(2) Supply Rish

In [181]:
text = '''
Concentration of Risk: Credit Risk
Financial instruments that potentially subject us to a concentration of credit risk consist of cash, cash equivalents, marketable securities,
restricted cash, accounts receivable, convertible note hedges, and interest rate swaps. Our cash balances are primarily invested in money market funds
or on deposit at high credit quality financial institutions in the U.S. These deposits are typically in excess of insured limits. As of September 30, 2021
and December 31, 2020, no entity represented 10% or more of our total accounts receivable balance. The risk of concentration for our convertible note
hedges and interest rate swaps is mitigated by transacting with several highly-rated multinational banks.
Concentration of Risk: Supply Risk
We are dependent on our suppliers, including single source suppliers, and the inability of these suppliers to deliver necessary components of our
products in a timely manner at prices, quality levels and volumes acceptable to us, or our inability to efficiently manage these components from these
suppliers, could have a material adverse effect on our business, prospects, financial condition and operating results.
'''

In [182]:
pat = re.findall('Concentration of Risk:(.*)', text)
pat

[' Credit Risk', ' Supply Risk']

### 3. Companies in europe reports their financial numbers of semi annual basis and you can have a document like this. To exatract quarterly and semin annual period you can use a regex as shown below

In [185]:
text = '''
Tesla's gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion.
BMW's gross cost of operating vehicles in FY2021 S1 was $8 billion.
'''
pattern = '' # todo: type your regex here

In [187]:
ans = re.findall('Q1 was(.*)b|S1 was(.*)b', text)
ans

[(' $4.85 ', ''), ('', ' $8 ')]

### Here we used just the Rules & Heuristic method of text extraction::

## Nlp techniques:
1. Rules & Heuristics:
2. Machine Learning:- Bag of words, count vectorizers
3. Deep Learning:- word embedding