In [39]:
import spacy
from spacy.lang.en.stop_words import STOP_WORDS

In [40]:
len(STOP_WORDS)

326

In [41]:
nlp = spacy.load("en_core_web_sm")
text = "I want to go to my school"
doc = nlp(text)

In [42]:
for token in doc:
    if token.is_stop:
        print(token)

I
to
go
to
my

In [47]:
# creating custom function for stop word removal:
"""
def stop_removal(text):
    doc = nlp(text)
    no_stop = []
    for token in doc:
        if not token.is_stop:
            no_stop.append(token)
    return no_stop
"""

# using list compreshension method:
def stop_removal(text):
    doc = nlp(text)
    no_stop = [ token for token in doc if not token.is_stop ]
    return no_stop

In [48]:
stop_removal("Hey! we won the match")

[Hey, !, won, match]

In [57]:
# loading the dataset:
# Load JSON data from file
df = pd.read_json('combined.json', lines=True)

In [63]:
df.sample(4)

,id,title,contents,date,topics,components
12092,12-543,Two Northern California Real Estate Investors ...,WASHINGTON – Two northern California real esta...,2012-04-26T00:00:00-04:00,[StopFraud],[Antitrust Division]
12385,17-761,United States Settles Lawsuit over Electric Ca...,A lawsuit was settled today involving an elect...,2017-07-12T00:00:00-04:00,[],[Environment and Natural Resources Division]
5721,18-172,ISIS Supporter Sentenced to Prison for Firearm...,"Casey Charles Spain, 29, of Richmond, Virginia...",2018-02-12T00:00:00-05:00,[Counterterrorism],"[National Security Division (NSD), USAO - Virg..."
9129,16-528,New York Business Owner Pleads Guilty to Filin...,"Failed to Report More than $650,000 in Income ...",2016-05-04T00:00:00-04:00,[Tax],[Tax Division]

In [99]:
df['topics'].str.len() # length of all the items topic:

0        0
1        0
2        0
3        0
4        1
        ..
13082    1
13083    0
13084    1
13085    2
13086    1
Name: topics, Length: 13087, dtype: int64

In [102]:
# filtering away all the items without anytopic:
df = df[ df['topics'].str.len() != 0]

In [104]:
df.shape

(4688, 6)

In [105]:
df = df.head(49) # taking first few rows only:

In [114]:
df['contents'][4][:200] # first 200 chars

'The U.S. Department of Justice, the U.S. Environmental Protection Agency (EPA), and the Rhode Island Department of Environmental Management (RIDEM) announced today that two subsidiaries of Stanley Bla'

In [116]:
text = df['contents'][4][:200]

In [143]:
def remove_stopwords(text):
    doc2 = nlp(text)
    no_stop=[]
    for token in doc2:
        if not token.is_stop:
            no_stop.append(token.text)
    return ' '.join(no_stop)  # returning the list into string format.

In [145]:
remove_stopwords(text)

'U.S. Department Justice , U.S. Environmental Protection Agency ( EPA ) , Rhode Island Department Environmental Management ( RIDEM ) announced today subsidiaries Stanley Bla'

In [147]:
# Now creating a new column for the processed text:
df.head(2)

,id,title,contents,date,topics,components
4,18-898,$100 Million Settlement Will Speed Cleanup Wor...,"The U.S. Department of Justice, the U.S. Envir...",2018-07-09T00:00:00-04:00,[Environment],[Environment and Natural Resources Division]
7,14-1412,14 Indicted in Connection with New England Com...,A 131-count criminal indictment was unsealed t...,2014-12-17T00:00:00-05:00,[Consumer Protection],[Civil Division]

In [148]:
df['new_contents'] = df['contents'].apply(remove_stopwords)

C:\Users\HP\AppData\Local\Temp\ipykernel_14140\2608591029.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['new_contents'] = df['contents'].apply(remove_stopwords)

In [150]:
df.sample(2)

,id,title,contents,date,topics,components,new_contents
125,15-1451,Al-Qaeda Operative Sentenced to 40 Years in Pr...,Defendant Led Plan to Carry Out Bombing of Cro...,2015-11-24T00:00:00-05:00,"[Counterterrorism, National Security]","[National Security Division (NSD), USAO - New ...",Defendant Led Plan Carry Bombing Crowded Shopp...
91,15-1146,Adventist Health System Agrees to Pay $115 Mil...,Adventist Health System has agreed to pay the ...,2015-09-21T00:00:00-04:00,"[False Claims Act, Health Care Fraud]",[Civil Division],Adventist Health System agreed pay United St...

In [152]:
len(df['contents'][125]), len(df['new_contents'][125]) # lengths before and after the stopword removal

(7308, 5695)

# Exercise:

## Exercise1:

From a Given Text, Count the number of stop words in it.
Print the percentage of stop word tokens compared to all tokens in a given text.

In [153]:
text = '''
Thor: Love and Thunder is a 2022 American superhero film based on Marvel Comics featuring the character Thor, produced by Marvel Studios and 
distributed by Walt Disney Studios Motion Pictures. It is the sequel to Thor: Ragnarok (2017) and the 29th film in the Marvel Cinematic Universe (MCU).
The film is directed by Taika Waititi, who co-wrote the script with Jennifer Kaytin Robinson, and stars Chris Hemsworth as Thor alongside Christian Bale, Tessa Thompson,
Jaimie Alexander, Waititi, Russell Crowe, and Natalie Portman. In the film, Thor attempts to find inner peace, but must return to action and recruit Valkyrie (Thompson),
Korg (Waititi), and Jane Foster (Portman)—who is now the Mighty Thor—to stop Gorr the God Butcher (Bale) from eliminating all gods.
'''

In [154]:
doc = nlp(text)
stop_words = list()
for token in doc:
    if token.is_stop:
        stop_words.append(token)

In [162]:
percent_stop  = len(stop_words)/len(doc)*100
print(percent_stop, "%")

25.0 %

## Exercise2:

Spacy default implementation considers "not" as a stop word. But in some scenarios removing 'not' will completely change the meaning of the statement/text. For Example, consider these two statements:

- this is a good movie       ----> Positive Statement
- this is not a good movie   ----> Negative Statement

So, after applying stopwords to those 2 texts, both will return "good movie" and does not respect the polarity/sentiments of text.

Now, your task is to remove this stop word "not" in spaCy and help in distinguishing the texts.

In [229]:
# removing the negative word available in spacy:
nlp.vocab['not'].is_stop = False

In [237]:
def preprocess(text):
    doc = nlp(text)
    no_stop=[]
    for token in doc:
        if not token.is_stop:
            no_stop.append(token.text)
    return ' '.join(no_stop)

In [238]:
positive_text = preprocess('this is a good movie')
negative_text = preprocess('this is not a good movie')

In [240]:
positive_text, negative_text

('good movie', 'not good movie')

## Exercise3:

From a given text, output the most frequently used token after removing all the stop word tokens and punctuations in it.

In [163]:
text = ''' The India men's national cricket team, also known as Team India or the Men in Blue, represents India in men's international cricket.
It is governed by the Board of Control for Cricket in India (BCCI), and is a Full Member of the International Cricket Council (ICC) with Test,
One Day International (ODI) and Twenty20 International (T20I) status. Cricket was introduced to India by British sailors in the 18th century, and the 
first cricket club was established in 1792. India's national cricket team played its first Test match on 25 June 1932 at Lord's, becoming the sixth team to be
granted test cricket status.
'''

In [179]:
doc = nlp(text)
modi_text = [token.text for token in doc if not token.is_stop and not token.is_punct]

In [180]:
modi_text = ' '.join(modi_text)

In [182]:
modi_text

'  India men national cricket team known Team India Men Blue represents India men international cricket \n governed Board Control Cricket India BCCI Member International Cricket Council ICC Test \n Day International ODI Twenty20 International T20I status Cricket introduced India British sailors 18th century \n cricket club established 1792 India national cricket team played Test match 25 June 1932 Lord sixth team \n granted test cricket status \n'

In [184]:
len(text), len(modi_text)

(616, 444)

In [214]:
dict_token = {}
for token in modi_text.split():
    if token != '\n' and token != ' ':
        if token in dict_token:
            dict_token[token] += 1
        else:
            dict_token[token] =1

In [226]:
sorted(dict_token.items(), key = lambda x: 1/x[1]) # sorting in reverse order:

[('India', 6),
 ('cricket', 5),
 ('team', 3),
 ('Cricket', 3),
 ('International', 3),
 ('men', 2),
 ('national', 2),
 ('Test', 2),
 ('status', 2),
 ('known', 1),
 ('Team', 1),
 ('Men', 1),
 ('Blue', 1),
 ('represents', 1),
 ('international', 1),
 ('governed', 1),
 ('Board', 1),
 ('Control', 1),
 ('BCCI', 1),
 ('Member', 1),
 ('Council', 1),
 ('ICC', 1),
 ('Day', 1),
 ('ODI', 1),
 ('Twenty20', 1),
 ('T20I', 1),
 ('introduced', 1),
 ('British', 1),
 ('sailors', 1),
 ('18th', 1),
 ('century', 1),
 ('club', 1),
 ('established', 1),
 ('1792', 1),
 ('played', 1),
 ('match', 1),
 ('25', 1),
 ('June', 1),
 ('1932', 1),
 ('Lord', 1),
 ('sixth', 1),
 ('granted', 1),
 ('test', 1)]

In [ ]:
# clearly the word India is occuring maximum number of times.